
   
 
     
<div id="app-wrapper"  (window:resize)="onResize($event)">
    <div id="sidebar-wrapper">  
 <div id="sidebar">
    <div class="heading">
    <h1 id="indices-heading">Stock Exchange Indices</h1>
  </div>
   <ul class="markets" id="markets">
  <li *ngFor="let stock of stocks; let i=index; let even=even" [ngClass]="{'even': even, 'item': true}" (click)="listClick(i)"><a>{{stock.title}}</a> 
      </li>
  </ul></div>  
  </div>  <!-- end sidebar-wrapper -->      
           <div class="map" id="map-wrapper"> 
               
             <sebm-google-map [latitude]="_lat"  
              [longitude]="_lng"  
              [zoom]="_zoom"  
              >

            
<get-marker-objects  (markers)="setMarkers($event)" (map)="setMap($event)">
  <sebm-google-map-marker 
  *ngFor="let m of stocks; let i = index"
  [latitude]="m.lat" [longitude]="m.lng"
  [iconUrl] = "m.iconUrl"
  >
 
  <sebm-google-map-info-window>
    
<b> {{m.title}}</b><table class="innerDetail">         
                 <tr><td class="f_tabletitle" width="48%">Index Value:</td><td class="f_td"><b>{{m.l}}</b></td></tr>       
        <tr><td class="f_tabletitle" width="48%">Trade Time:</td><td class="f_td">{{m.ltt}}</td></tr>        
       <tr><td class="f_tabletitle" width="48%">Change:</td><td class="f_td" [ngClass]="{'fd_red': m.c < 0, 'fd_green': m.c > 0}">{{m.c}} ({{m.cp}}%)</td></tr>       
        <tr><td class="f_tabletitle" width="48%">Prev Close:</td><td class="f_td">{{m.previousclose}}</td></tr>       
        </table>
 
  </sebm-google-map-info-window>
 
  </sebm-google-map-marker>
  

 </get-marker-objects>
  </sebm-google-map>
   
  </div>        
      
	  <map-footer></map-footer>
    </div> <!-- end app-wrapper -->
  
  <div id="message1"></div>
  <div id="message2"></div>
  <div id="message3"></div>
     

  






















