
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FURTHER data</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          
        
      </div>

    </div><!-- /.container -->

    <div>

        
 
      <table border=0>
  <tr><td colspan="2"><img src="assets/i_watch.gif" alt="index watch logo" style="float:left"/><img src="assets/legend.gif" alt="map legend" style="float:right"/></tr>

      <tr>
	  <!--<td width = 300 valign="top" style="text-decoration: underline; color: #4444ff;"> -->
	  <td>
 <div id="side_bar"><ul *ngFor="let stock of stocks; let i=index; let even=even" [ngClass]="{even: even}" class="market">
  <li (click)="listClick(i)"><a>{{stock.title}}</a> 
      </li>
  </ul></div>        </td>
        <td>
           <div class="map" id="map1"> 
             <sebm-google-map [latitude]="_lat"  
              [longitude]="_lng"  
              [zoom]="_zoom"  
              >

          <get-marker-objects  (markers)="setMarkers($event)">    

  <sebm-google-map-marker 
  *ngFor="let m of stocks; let i = index"
  [latitude]="m.lat" [longitude]="m.lng"
  [iconUrl] = "m.iconUrl"
  >
 
  <sebm-google-map-info-window>
    
<b> {{m.title}}</b><table class="innerDetail">         
                 <tr><td class="f_tabletitle" width="48%">Index Value:</td><td class="f_td"><b>{{m.l}}</b></td></tr>       
        <tr><td class="f_tabletitle" width="48%">Trade Time:</td><td class="f_td">{{m.ltt}}</td></tr>        
       <tr><td class="f_tabletitle" width="48%">Change:</td><td class="f_td" [ngClass]="{'fd_red': m.c < 0, 'fd_green': m.c > 0}">{{m.c}} ({{m.cp}}%)</td></tr>       
        <tr><td class="f_tabletitle" width="48%">Prev Close:</td><td class="f_td">{{m.previousclose}}</td></tr>       
        </table>
 
  </sebm-google-map-info-window>
 
  </sebm-google-map-marker>
  

  </get-marker-objects>
  </sebm-google-map></div>        </td>
      </tr>
	  <tr><td colspan="2"><map-footer></map-footer></td></tr>
  </table>
  <div id="message1"></div>
  <div id="message2"></div>
  <div id="message3"></div>
      </div>

  






















