 *.sebm-google-map-container {
  height:100%;
/* padding-bottom:10%; */
    position: absolute;  
  top: 0;
  bottom: 0;
left: 0;
right: 0;

}




 

    body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app-wrapper {
   position:relative;
  
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

#sidebar-wrapper {
  position:relative;
   padding-bottom:50%;
    width: 33.3333%;
     float:left; 
}

#sidebar-wrapper > div {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  
}

#sidebar {

 
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid #99b3e6;
}

.pad2 {
  padding: 20px;
}

#map-wrapper {
  position: relative;
  width:66.6666%;
    left: 33.3333%;
    padding-bottom: 50%;
    
}



.map {
  position: absolute;  
  top: 0;
  bottom: 0;
left: 0;
right: 0;


}

.heading {
  background: #fff;
border-bottom: 1px solid #99b3e6;
border-right: 11px solid #99b3e6;;
  height: 60px;
  line-height: 60px;
  padding: 0;
  padding-left:10px;
}

.markets {
 
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  padding-top:0px;
  list-style:none;
  padding-left:0;
  margin-top:0;
}

.markets .item {
  display: block;
  border-top:1px solid #99b3e6; 
     border-left: 1px solid #99b3e6;
    border-right: 1px solid #99b3e6;
 
  text-decoration: none;
}
ul.markets a {
    display: block;
    height: 3em;
    line-height: 3em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding-left:10px;
}

ul.markets a:hover {
    /* background: #ffecc7 url(select.png) repeat-x 0 top; */
    background: #ffecc7; 
}

.item {

  margin:0;
}


.markets .item:last-child { border-bottom: none; }
.markets .item:first-child { border-top: none; }

.markets .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.markets .item .title small { font-weight: 400; }

.markets .item.active .title,
.markets .item .title:hover { color: #8cc63f; }

.markets .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #99b3e6;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}





/* info window styles */

.innerDetail {
  font-family: 'Lucida Grande', sans-serif;
    font-size: 12px;
   border-width: 1px;
   border-style: solid;
   border-color: #99b3e6;
   border-collapse: collapse;
   text-indent: 0.5em;
   width:250px; 
   width:19em;
  }

  .even {
    background-color: #f2f5fc;
}
.f_table {
    border-width: 1px;
    border-style: solid;
    border-color: #99b3e6;
    border-collapse: collapse;
    text-indent: .5em;
}
.f_td {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #99b3e6;
}
.f_tabletitle {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #99b3e6;
    background: #f2f5fc;
}

/* Switch to map on top info on the bottom on narrow screens */


  @media screen and (max-width: 660px) {
    #app-wrapper {
      position:relative;
      height:200%;
      border: 1px solid green;
    }
  #map-wrapper, #sidebar-wrapper {
   position:absolute;
    
    width: 100%;
    
  }

  .markets {
     overflow:visible;
     height:100%;
  }
  #map-wrapper {
    top: 0;
    bottom: 50%;
    left: 0;
  }
  #sidebar-wrapper {
    height:100%;
    top: 320px;
    bottom: 0%;
  }
}


.content {
	padding: 40px;
	text-align: left;
	font: 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
}
span {
	font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
}


  

  




